<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="comic-cont">
                <div class="row">
                    <div class="back-container">
                        <i class="material-icons" (click)="backNavigation()">
                            arrow_back_ios
                        </i>
                    </div>
                    <div class="col-md-4">
                        <img src="{{comicInfo?.thumbnail.path}}.{{comicInfo?.thumbnail.extension}}" alt="{{comicInfo?.title}}" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <p class="name">{{comicInfo?.title}}</p>
                        <div class="description">
                            {{comicInfo?.description != '' ? comicInfo?.description : notFoundMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-tab-group animationDuration="0ms" class="comic-options">
                <mat-tab label="Characters">
                    <div class="grid-container">
                        <div class="container" *ngIf="comicCharacters?.length == 0">
                            <div class="row justify-content-center not-comics-stories">
                                <div class="col-md-2">
                                    <img src="./assets/ultron.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-6">
                                    <p class="description">{{notFoundMessage}}</p>
                                </div>
                            </div>
                        </div>
                        <div fxFlex fxLayout="column">
                            <div fxLayout="row wrap">
                                <div fxFlex="25" fxFlex.md="25" fxFlex.sm="33" fxFlex.xs="100" *ngFor="let comicCharacter of comicCharacters">
                                    <mat-card class="hero-card" routerLink="/character/{{comicCharacter.id}}">
                                        <div class="image-container">
                                            <img mat-card-image src="{{comicCharacter.thumbnail.path}}/standard_xlarge.{{comicCharacter.thumbnail.extension}}" alt="{{comicCharacter.name}}">
                                            <p class="title">
                                                {{comicCharacter.name}}
                                            </p> 
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Stories">
                    <div class="grid-container">
                        <div class="container" *ngIf="comicStories?.length == 0">
                                <div class="row justify-content-center not-comics-stories">
                                    <div class="col-md-2">
                                        <img src="./assets/ultron.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="description">{{notFoundMessage}}</p>
                                    </div>
                                </div>
                            </div>
                        <div fxFlex fxLayout="column">
                            <div fxLayout="row wrap">
                                <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let comicStory of comicStories">
                                    <mat-card class="hero-card" routerLink="/story/{{comicStory.id}}">
                                        <div class="image-container">
                                            <p class="title">
                                                {{comicStory.title}}
                                            </p> 
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>