<nav>
    <div class="container">
        <div class="row justify-content-center justify-content-sm-between justify-content-md-between justify-content-lg-between justify-content-xl-between">
            <div class="col-6 col-md-3 col-lg-2">
                <div routerLink="/characters" class="logo">
                    <img src="./assets/marvel-logo.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <ul class="links">
                    <li routerLink="/comics" [routerLinkActive]="'active'">Comics</li>
                    <li routerLink="/characters" [routerLinkActive]="'active'">Characters</li>
                    <li routerLink="/stories" [routerLinkActive]="'active'">Stories</li>
                </ul>
            </div>
        </div>
    </div>
</nav>