nav{
    background-color: #162227;
    .logo{
        padding: 0 20px;
        cursor: pointer;
        &:active, &:focus, &:hover{
            box-shadow: none;
            outline: none;
        }
    }
    .links{
        list-style: none;
        margin: 26px 0;
        text-align: right;
        padding-inline-start: 0;
        li{
            font-family: 'komika_axisregular';
            display: inline-block;
            margin-right: 10px;
            padding: 5px 10px;
            color: #ffffff;
            font-size: 16px;
            cursor: pointer;
            &:last-child{
                margin-left: none;
            }
            &:hover, &.active{
                color: #00a1ff;
                transition: 0.4s ease;
            }
            &:focus, &:active{
                box-shadow: none;
                outline: none;
            }
        }
    }
}

@media (max-width: 991.98px) {
    nav{
        .links{
            list-style: none;
            margin: 22px 0;
            text-align: center;
        } 
    }
}

@media (max-width: 767.98px) { 
    .logo{
        margin-top: 10px;
    }
    nav{
        .links{
            margin: 12px 0;
            text-align: center;
            li{
                font-size: 12px;
                padding: 3px 10px;
            }
        } 
    }
}