<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>{{characterInfo?.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{characterInfo?.thumbnail.path}}.{{characterInfo?.thumbnail.extension}}" alt="{{characterInfo?.name}}">
    <mat-card-content>
        <p>
        {{characterInfo?.description}}
        </p>
    </mat-card-content>
</mat-card> -->
<router-outlet></router-outlet>