<div class="cont">
    <img src="./assets/thanos-snap.png" alt="">
    <p *ngIf="userMessage == 'thanos'"><span class="purple-span">Thanos</span> has wipe out half of our servers!!! <br> Please wait... We are searching <span class="gold-span">the Infinity Gems</span> to restore the order.</p>
</div>
