.cont{
    img{
        width: 150px;
        float: left;
        margin: 0 30px 10px 0; 
        border: 3px solid #000000;
        background-color: #ffffff;
        padding: 4px;
    }
    p{
        font-family: 'komika_axisregular';
    }
}
.purple-span{
    color: #420964;
}
.gold-span{
    color: #AC9F07,
}