
<div class="grid-container">
    <div fxFlex fxLayout="column">
        <div fxLayout="row wrap">
            <div fxFlex="20" fxFlex.md="25" fxFlex.sm="33" fxFlex.xs="100" *ngFor="let story of allStories">
                <mat-card class="hero-card" routerLink="/story/{{story.id}}">
                    <div class="image-container">
                        <p class="title">
                            {{story.title}}
                        </p> 
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<mat-paginator [length]="paginatorLength" [pageSize]="pageSize" (page)="pageChange($event)"></mat-paginator>