<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="char-cont">
                <div class="row">
                    <div class="back-container">
                        <i class="material-icons" (click)="backNavigation()">
                            arrow_back_ios
                        </i>
                    </div>
                    <div class="col-md-4">
                        <img src="{{characterInfo?.thumbnail.path}}.{{characterInfo?.thumbnail.extension}}" alt="{{characterInfo?.name}}" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <p class="name">{{characterInfo?.name}}</p>
                        <div class="description">
                            {{characterInfo?.description != '' ? characterInfo?.description : notFoundMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-tab-group animationDuration="0ms" class="char-options">
                <mat-tab label="Comics">
                    <div class="grid-container">
                        <div class="container" *ngIf="characterComics?.length == 0">
                            <div class="row justify-content-center not-comics-stories">
                                <div class="col-md-2">
                                    <img src="./assets/ultron.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-6">
                                    <p class="description">{{notFoundMessage}}</p>
                                </div>
                            </div>
                        </div>
                        <div fxFlex fxLayout="column">
                            <div fxLayout="row wrap">
                                <div fxFlex="25" fxFlex.md="25" fxFlex.sm="33" fxFlex.xs="100" *ngFor="let charComic of characterComics">
                                    <mat-card class="hero-card" routerLink="/comic/{{charComic.id}}">
                                        <div class="image-container">
                                            <img mat-card-image src="{{charComic.thumbnail.path}}/portrait_uncanny.{{charComic.thumbnail.extension}}" alt="{{charComic.name}}">
                                            <p class="title">
                                                {{charComic.title}}
                                            </p> 
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Stories">
                    <div class="grid-container">
                        <div class="container" *ngIf="characterStories?.length == 0">
                                <div class="row justify-content-center not-comics-stories">
                                    <div class="col-md-2">
                                        <img src="./assets/ultron.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="description">{{notFoundMessage}}</p>
                                    </div>
                                </div>
                            </div>
                        <div fxFlex fxLayout="column">
                            <div fxLayout="row wrap">
                                <div fxFlex="20" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let charStory of characterStories">
                                    <mat-card class="hero-card" routerLink="/story/{{charStory.id}}">
                                        <div class="image-container">
                                            <p class="title">
                                                {{charStory.title}}
                                            </p> 
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>