.char-cont{
    margin-top: 20px;
    position: relative;
    .back-container{
        position: absolute;
        top: 50%;
        left: -3%;
        margin-left: -20px;
        margin-top: -20px;
        i{
            font-size: 40px;
            cursor: pointer;
            &:hover{
                color: #a10101;
            }
        }
    }
    img{
        padding: 20px;
        background-color: #ffffff;
        border: 4px solid #000000;
    }
    .name{
        font-family: 'komika_axisregular';
        font-size: 24px;
        margin-top: 20px;
    }
    .description{
        font-family: 'komika_displayregular';
        font-size: 18px;
    }
}
.char-options{
    margin-top: 30px;
}

.not-comics-stories{
    margin: 80px 0;
    img{
        border: 4px solid #000000;
        padding: 20px;
    }
    .description{
        font-family: 'komika_axisregular';
        font-size: 35px;
        text-align: center;
    }
}