
<div class="container">
    <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="story-cont">
                    <div class="row row justify-content-center">
                        <div class="back-container">
                            <i class="material-icons" (click)="backNavigation()">
                                arrow_back_ios
                            </i>
                        </div>
                        <div class="col-md-8">
                            <div class="description">
                                {{storyInfo?.title != '' ? storyInfo?.title : notFoundMessage}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <mat-tab-group animationDuration="0ms" class="story-options">
                <mat-tab label="Comics">
                    <div class="grid-container">
                        <div class="container" *ngIf="storyComics?.length == 0">
                            <div class="row justify-content-center not-comics-stories">
                                <div class="col-md-2">
                                    <img src="./assets/ultron.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-6">
                                    <p class="description">{{notFoundMessage}}</p>
                                </div>
                            </div>
                        </div>
                        <div fxFlex fxLayout="column">
                            <div fxLayout="row wrap">
                                <div fxFlex="25" fxFlex.md="25" fxFlex.sm="33" fxFlex.xs="100" *ngFor="let storyComic of storyComics">
                                    <mat-card class="hero-card" routerLink="/comic/{{storyComic.id}}">
                                        <div class="image-container">
                                            <img mat-card-image src="{{storyComic.thumbnail.path}}/portrait_uncanny.{{storyComic.thumbnail.extension}}" alt="{{storyComic.name}}">
                                            <p class="title">
                                                {{storyComic.title}}
                                            </p> 
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Characters">
                    <div class="grid-container">
                        <div class="container" *ngIf="storyCharacters?.length == 0">
                            <div class="row justify-content-center not-comics-stories">
                                <div class="col-md-2">
                                    <img src="./assets/ultron.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-6">
                                    <p class="description">{{notFoundMessage}}</p>
                                </div>
                            </div>
                        </div>
                        <div fxFlex fxLayout="column">
                            <div fxLayout="row wrap">
                                <div fxFlex="25" fxFlex.md="25" fxFlex.sm="33" fxFlex.xs="100" *ngFor="let storyCharacter of storyCharacters">
                                    <mat-card class="hero-card" routerLink="/character/{{storyCharacter.id}}">
                                        <div class="image-container">
                                            <img mat-card-image src="{{storyCharacter.thumbnail.path}}/standard_xlarge.{{storyCharacter.thumbnail.extension}}" alt="{{storyCharacter.name}}">
                                            <p class="title">
                                                {{storyCharacter.name}}
                                            </p> 
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>