<div class="search-bar">
    <div class="container">
        <form action="" [formGroup]="charactersForm">
            <div class="row">
                <div class="col-md-1">
                    <i class="material-icons" [ngClass]="sortCharacters? 'sortAZ': 'sortZA'" (click)="sortToggle()">sort_by_alpha</i>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput formControlName="characterName" placeholder="Character Name">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Comics" formControlName="comics">
                            <cdk-virtual-scroll-viewport [itemSize]="48" [style.height.px]=5*48>
                                <mat-option [value]="undefined">--not selected--</mat-option>
                                <mat-option *ngFor="let comic of comicsCatalogue" [value]="comic.id">{{comic.title}}</mat-option>
                            </cdk-virtual-scroll-viewport>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Stories" formControlName="stories">
                            <cdk-virtual-scroll-viewport [itemSize]="48" [style.height.px]=5*48>
                                <mat-option [value]="undefined">--not selected--</mat-option>
                                <mat-option *ngFor="let story of storiesCatalogue" [value]="story.id">{{story.title}}</mat-option>
                            </cdk-virtual-scroll-viewport>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button class="btn-custom" (click)="search(charactersForm)">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container" *ngIf="allCharacters?.length == 0">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="not-found">The Character You're Searching For, Was Not Found In This Universe!</p>
        </div>
    </div>
</div>
<div class="grid-container">
    <div fxFlex fxLayout="column">
        <div fxLayout="row wrap">
            <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let character of allCharacters">
                <mat-card class="hero-card" routerLink="/character/{{character.id}}">
                    <div class="image-container">
                        <img mat-card-image src="{{character.thumbnail.path}}/standard_xlarge.{{character.thumbnail.extension}}" alt="{{character.name}}">
                        <p class="title">
                            {{character.name}}
                        </p> 
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<mat-paginator [length]="paginatorLength" [pageSize]="pageSize" (page)="pageChange($event)"></mat-paginator>