@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: 'komika_axisregular';
    src: url('./assets/fonts/komikax_-webfont.woff') format('woff2'),
         url('./assets/fonts/komikax_-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'komika_displayregular';
    src: url('./assets/fonts/Komika_display-webfont.eot'),
         url('./assets/fonts/Komika_display-webfont.woff') format('woff'),
         url('./assets/fonts/Komika_display-webfont.svg#komika_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-dialog-container{
    background-color: #f3f3f3;
    border: 20px solid #ffffff;
}
.mat-tab-label{
    border: 2px solid #000000;
    margin-right: 5px;
    &.mat-tab-label-active{
        border: 2px solid #000000;
        background-color: #000000;
        color: #ffffff;
    }
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: transparent;
}
.mat-form-field{
    width: 100%;
}

.hero-card{
    margin: 10px;
    padding-top: 8px; 
    background-color: transparent;
    cursor: pointer;
    box-shadow: none !important;
    border-radius: 0 !important;
    transition: 0.2s ease-in;
    img{
        padding-top: 10px;
        box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4) !important;
    }
    .title{
        font-size: 14px;
        color: #162227;
        font-family: 'komika_axisregular';
        text-align: center;
    }
    &:hover{
        transition: 0.2s ease-out;
        padding-top: 0;
    }
    &:focus, &:active{
        outline: none;
        box-shadow: none;
    }
}

.search-bar{
    background-color: #e6e6e6;
    padding: 15px 0;
    margin-bottom: 10px;
    .sortAZ, .sortZA{
        color: #00a1ff;
        cursor: pointer;
        font-size: 34px;
        margin-top: 14px;
        text-align: center;
        width: 100%;
    }
    .sortZA{
        color: #000000;
    }
}

.btn-custom{
    background-color: #e62429;
    color: #ffffff;
    margin-top: 10px;
    width: 100%; 
    border-radius: none;
    padding: 6px 12px;
    transition: 0.5s ease;
    border: 2px solid transparent;
    font-family: 'komika_displayregular';
    &:hover{
        border: 2px solid #000000;
        transition: 0.5s ease;
    }
    &:active, :hover, :focus{
        box-shadow: none;
        outline: none;
    }
}
.not-found{
    font-family: 'komika_axisregular';
    font-size: 45px;
    text-align: center;
    margin: 80px 0;
}
.mat-paginator{
    padding: 20px 0;
    margin-top: 20px;
    background-color: #e6e6e6;
    font-family: 'komika_displayregular';
    font-size: 20px;
    color: #162227;
}