<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>{{comicInfo?.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{comicInfo?.thumbnail.path}}.{{comicInfo?.thumbnail.extension}}" alt="{{comicInfo?.name}}">
    <mat-card-content>
        <p>
        {{comicInfo?.description}}
        </p>
    </mat-card-content>
</mat-card> -->
<router-outlet></router-outlet>